html {
	overflow-y: scroll;
}
body {
	font-family: Georgia, serif;
	font-size: 15px;
	line-height: 1.5;
	color: #424254;
	padding-bottom: 20px;
}
a, a:visited {
	color: #2659A6;
	font-weight: bold;
	text-decoration: none;
	-webkit-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
       -moz-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
    	 -o-transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
    		transition: color .5s ease, background .5s ease, opacity .5s ease, border .5s ease;
}
a:hover, a:active {
	color: #000;
	text-decoration: none;
	-webkit-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
       -moz-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
    	 -o-transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
            transition: color .1s ease, background .1s ease, opacity .1s ease, border .5s ease;
}
#mid-box {
	padding: 10% 0%;
}
.center-bar {
	border-top: 1px dotted #B7B7B7;
	margin: 5px;
	width: 560px;
	text-align: center;
}